<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="logo" href="https://starkandwayne.com/">
          <img class="logo-white" alt="Stark & Wayne" src="/blog/assets/img/swlogo.png" />
          <p><strong>Stark &amp; Wayne</strong> is the premier BOSH, Cloud Foundry, and Cloud-Native consulting firm.<br>Your platform needs help, <br>call Stark &amp; Wayne for success,  <br>you'll never look back.</p>
        </a>
        <p> beahero@starkandwayne.com </p>
      </div>

      <div class="col-md-3">
        <div class="links">
          <h5>Services</h5>
          <ul class="list">
            <li><a href="/genesis-enterprise/index.html">Genesis Enterprise</a></li>
            <li><a href="/solutions/index.html">Solutions</a></li>
            <li><a href="/services/index.html">Services</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="links">
          <h5>Resource Center</h5>
          <ul class="list">
            <li><a href="/resources/casestudies.html">Case Studies</a></li>
            <li><a href="/resources/office.html">Tech Sessions</a></li>
            <li><a href="/resources/training.html">Training</a></li>
            <li><a href="https://ultimateguidetobosh.com/">Ultimate Guide to Bosh</a></li>
            <li><a href="/resources/whitepapers.html">Whitepapers</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="links">
          <h5>Reference</h5>
          <ul class="list">
            <li><a href="/about">About Us</a></li>
            <li><a href="https://starkandwayne.com/blog/">Blog</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/newsletter">Newsletter Subscription</a></li>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <br>
            <a href="https://www.facebook.com/starkandwayne/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/starkandwayne" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/stark-&-wayne-llc" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/user/StarkAndWayne" class="fa fa-youtube-play"></a>
            <a href="https://github.com/starkandwayne" class="fa fa-github"></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="down-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2018 Stark &amp; Wayne.  All Rights Reserved.</p>
          <ul class="footer-menu"></ul>
        </div>
      </div>
    </div>
  </div>
</footer>
