<header id="top-nav" class="top-nav page-header">
    <div class="container">
    <a class="logo smooth-scroll" href="/">
        <img class="logo-white" alt="Stark & Wayne" src="/blog/assets/img/logo.png" />
    </a>
    </div>
</header>

<section id="top" class="display-page img-parallax bg-mask background-image" data-image="/blog/assets/img/blue.png">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1>Blog</h1>
    </div>
    </div>
</div>
</section>