<header id="top-nav" class="top-nav page-header">
		<div class="container">
			<a class="logo smooth-scroll" href="/">
				<img class="logo-white" alt="Stark & Wayne" src="/img/logo.png?[% site.buster %]" />
			</a>
			<nav class="top-menu">
				<ul class="sf-menu">
					<li><a href="/about">About Us</a></li>
					<li><a href=#>Services</a>
						<ul>
							<li><a href="/cf-managed-services/index.html">Pivotal Cloud Foundry Managed Services</a></li>
							<li><a href="/solutions/index.html">Solutions</a></li>
							<li><a href="/services/index.html">Services</a></li>
						</ul>
					</li>
					<li><a href="/opensource/opensource.html">Open Source</a></li>
						<ul>
							<li><a href="/">Blacksmith</a></li>
							<li><a href="https://github.com/starkandwayne/ultimate-guide-to-bosh">BOSH</a></li>
							<li><a href="http://concoursetutorial.com/">Concourse</a></li>
							<li><a href="http://genesisproject.io/">Genesis</a></li>
							<li><a href="https://github.com/starkandwayne/safe">Safe</a></li>
							<li><a href="https://shieldproject.io">SHIELD</a></li>
							<li><a href="https://github.com/starkandwayne/play.spruce.cf">Spruce</a></li>
						</ul>
					<li><a href=#>Resource Center</a>
						<ul>
							<li><a href="/resources/casestudies/index.html">Case Studies</a></li>
							<li><a href="/resources/techsession/index.html">Tech Sessions</a></li>
							<li><a href="/resources/training.html">Training</a></li>
							<li><a href="https://ultimateguidetobosh.com/">Ultimate Guide to BOSH</a></li>
						</ul>
					</li>
					<li><a href="https://starkandwayne.com/blog/">Blog</a></li>
					<li><a href="/contact-us">Contact Us</a></li>
				</ul>
			</nav>
			<div id="mobile-menu">
				<div class="inner-wrap">
					<nav>
						<ul class="nav_menu">
							<li><a href="/about">About Us</a></li>
							<li><a href="/experience">Experience</a></li>
							<li><a href="/opensource/opensource.html">Open Source</a></li>
							<li><a href="https://starkandwayne.com/blog">Blog</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
</header>

<section id="top" class="display-page img-parallax bg-mask background-image" data-image="/blog/assets/img/blue.png">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1>Blog</h1>
    </div>
    </div>
</div>
</section>