{{! write anything below this to get it featured on your front page }}

<img src="{{asset 'images/SW_Logo_Hz.png'}}">

<div class="introduction"></div>
<script>
(function () {
  intro = $('.introduction')
  for (var i = 0; i < introduction.length; i++) {
    $('<p>', {
      text: introduction[i]
    }).appendTo(intro);
  }
}());
</script>
<hr />
