{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="https://twitter.com/starkandwayne" title="Follow us on twitter!">
    <i class="fa fa-twitter"></i> Follow us
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow us
</li>

}}

<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/" data-pjax>
    <i class="fa fa-home"></i>Main site
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/blog/" data-pjax>
    <i class="fa fa-info"></i>Blog
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/blog/rss/">
    <i class="fa fa-rss"></i>Blog feed
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/videos/" data-pjax>
    <i class="fa fa-play"></i>Videos
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/videos/rss/">
    <i class="fa fa-rss"></i>Videos feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Learn this
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/videos/tag/cloudfoundry/">
    <i class="fa fa-cloud"></i>Cloud Foundry
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/videos/tag/bosh/">
    <i class="fa fa-dot-circle-o"></i>BOSH
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.starkandwayne.com/videos/tag/concourse/">
    <i class="fa fa-plane"></i>Concourse CI
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow us
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/starkandwayne" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/starkandwayne" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/cloudfoundry-community" target="_blank">
    <i class="fa fa-github"></i>Cloud Foundry Community
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item">
  <a href="https://github.com/dingotiles/ghost-for-cloudfoundry" data-pjax>
    <i class="fa fa-cloud-download"></i>Ghost Blog for Cloud Foundry
  </a>
</li>
