{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="https://twitter.com/starkandwayne" title="Follow us on twitter!">
    <i class="fa fa-twitter"></i> Follow us
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow us
</li>

}}

<li class="drawer-list-item">
  <a href="http://www.starkandwayne.com/" data-pjax>
    <i class="fa fa-home"></i>Main site
  </a>
</li>
<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-rss"></i>Blog
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow us
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/starkandwayne" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/starkandwayne" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/cloudfoundry-community" target="_blank">
    <i class="fa fa-github"></i>Cloud Foundry Community
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item">
  <a href="https://github.com/starkandwayne/starkandwayne-ghost" data-pjax>
    <i class="fa fa-github"></i>Blog Source
  </a>
</li>
