{{!< default}}

{{#contentFor "header-meta"}}
  <meta name="description" content="Stark &amp; Wayne Blog Authors">
{{/contentFor}}

<div class="hero interior" style="background-image: url(https://starkandwayne.com/images/banners/hero.jpg)">
  <div class="container">
      <div class="hero-content">
        <h1 style="color: white;">Authors</h1>
      </div>
  </div>
</div>

{{#post}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}
      <div class="post-feed">
        {{#foreach authors}}
          <article class="post-card {{#unless profile_image}} no-image{{/unless}}">
            {{#if profile_image}}
              <a class="post-card-image-link" href="">
                <div class="post-card-image" style="background-image: url({{profile_image}})"></div>
              </a>
            {{/if}}
            <div class="post-card-content">
              <a class="post-card-content-link" href="{% raw %}{{url}}">
                <header class="post-card-header">
                  <h2 class="post-card-title">{{name}}</h2>
                </header>
                <section class="post-card-excerpt">
                  <p>{{bio}}</p>
                </section>
              </a>
            </div>
          </article>
        {{/foreach}}
      </div>
    {{/get}}
  </div>
</main>

{{/post}}