<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Poppins:300,400,500,600,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/extra.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header>
      <div class="container">
        <a class="brand" href="/">
          <img src="/images/logo.png" alt="Stark &amp; Wayne">
        </a>
        <div class="burger">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul class="nav-primary">
          <li>
            <a href="/about/">About Us</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Services</a>
            <ul class="sub-menu">
              <li><a href="/services/managed/kubernetes/">Managed Kubernetes</a></li>
              <li><a href="/services/managed/cloud-foundry/">Managed Cloud Foundry</a></li>
              <li><a href="/services/professional-services/">Professional Services</a></li>
            </ul>
          </li>
          <li>
            <a href="/open-source/">Open Source</a>
          </li>
          <li class="menu-item-has-children">
            <a>Resource Center</a>
            <ul class="sub-menu">
              <li><a href="/case-studies/">Case Studies</a></li>
              <li><a href="/interviews-and-talks/">Interviews and Talks</a></li>
              <li><a href="/resources/techsession/">Tech Sessions</a></li>
              <li><a href="/resources/training.html">Training</a></li>
              <li><a href="https://ultimateguidetobosh.com/">Ultimate Guide to BOSH</a></li>
            </ul>
          </li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </div>
    </header>

    {{{body}}}

    <footer class="simple">
      <div class="container">
        <div class="footer-top experts-on-these-platforms"></div>
        <div class="footer-mid">
          <div class="footer-col first-col">
            <img src="/images/logo.png" alt="Stark &amp; Wayne">
            <p>Stark &amp; Wayne is the premier Kubernetes, Cloud Foundry, Cloud Native, Serverless platform consulting firm.</p>
            <p>Call us today to help build out, secure, and systematically update your cloud platform.</p>

            <a href="mailto:beahero@starkandwayne.com">beahero@starkandwayne.com</a>
            <address>(415) 860-2185
10 John James Audubon Pkwy
Buffalo, NY 14228
United States</address></p>
          </div>
          <div class="footer-col">
            <h4>Services</h4>
            <ul>
              <li><a href="/services/managed/kubernetes/">Managed Kubernetes</a></li>
              <li><a href="/services/managed/cloud-foundry/">Managed Cloud Foundry</a></li>
              <li><a href="/services/professional-services/">Professional Services</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Resource Center</h4>
            <ul>
              <li><a href="/case-studies/">Case Studies</a></li>
              <li><a href="/interviews-and-talks/">Interviews and Talks</a></li>
              <li><a href="/resources/techsession/">Tech Sessions</a></li>
              <li><a href="/resources/training.html">Training</a></li>
              <li><a href="https://ultimateguidetobosh.com/">Ultimate Guide to BOSH</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Reference</h4>
            <ul>
              <li><a href="/about/">About Us</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/contact-us/">Contact Us</a></li>
              <li><a href="/newsletter/">Newsletter Subscription</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="copyright">&copy; 2020 Stark & Wayne LLC.  All Rights Reserved.</div>
          <ul class="social-links">
            <li><a href="https://www.facebook.com/starkandwayne">
                <img src="/images/icons/facebook.svg" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/starkandwayne">
                <img src="/images/icons/twitter.svg" alt="@starkandwayne on Twitter"></a></li>
            <li><a href="https://linkedin.com/starkandwayne">
                <img src="/images/icons/linkedin.svg" alt="LinkedIn"></a></li>
            <li><a href="https://www.youtube.com/user/starkandwayne">
                <img src="/images/icons/youtube.svg" alt="YouTube"></a></li>
            <li><a href="https://github.com/starkandwayne">
                <img src="/images/icons/github.svg" alt="@starkandwayne on GitHub"></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/scripts/script.js"></script>

    <div id="lb"><div>
      <a href="#" rel="close">✕</a>
      <div class="lb-inner"></div>
    </div></div>

    <script type="text/javascript">
      {{> custom/config}}

      (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
      function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
      t=h.createElement(o);z=h.getElementsByTagName(o)[0];
      t.src='//www.google-analytics.com/analytics.js';
      z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
      ga('create',ga_ua);ga('send','pageview');

      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>

    <!-- prompt reader to get emailed new blog posts -->
    <script src="https://starkandwayne.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
  </body>
</html>
