{{!< default}}

<section class="page">
  <div id="container" class="container">
    <div class="row">
      <div class="col-md-2">  
      </div>
      <div class="col-md-8">
        <div class="content">

        {{> custom/featured this}}

        <section class="post-list">
          {{#foreach posts}}
            {{> post/list this}}
          {{/foreach}}
        </section>

        {{#if pagination}}
          {{pagination}}
        {{/if}}
      </div>
    </div>
    <div class="col-md-2">  
    </div>
  </div>
</section>

{{> footer this}}