{{!< default}}

{{#contentFor "header-meta"}}
<meta name="description" content="{{meta_title}}">
{{/contentFor}}

<div class="hero interior" style="background-image: url(https://starkandwayne.com/images/banners/hero.jpg)">
  <div class="container">
      <div class="hero-content">
          <h1 style="color: white;">Blog</h1>
      </div>
  </div>
</div>

<div class="page blog-intro">
  <p>You can become a superhero of automation and development by learning and practicing. This is our blog from our learnings and practice.</p>
  <p>We are consultants and trainers in Cloud Foundry, devops automation and continous delivery. We have the best jobs in the world helping you have the best job in the world.</p>
</div>

<form id="search"><input type="text" class="q" placeholder="Search the Stark & Wayne blog..."/></form>
<div id="blog">
  {{#foreach posts}}
    {{> post/list this}}
  {{/foreach}}
</div>

{{#if pagination}}
  <div class="page blog-pagination">
    {{pagination}}
  </div>
{{/if}}
