{{! write anything below this to get it featured on your front page }}

<h1>Stark &amp; Wayne</h1>

<p>You can become a superhero of automation and development by learning and practising. This is our blog from our learnings and practise.</p>

<p>We are consultants and trainers in Cloud Foundry, devops automation and continous delivery. We have the best jobs in the world helping you have the best job in the world.</p>

<hr />
