{{! write anything below this to get it featured on your front page }}

<div class="introduction">
  <p>You can become a superhero of automation and development by learning and practicing. This is our blog from our learnings and practice. 
    We are consultants and trainers in Cloud Foundry, devops automation and continous delivery. We have the best jobs in the world helping you have the best job in the world.</p>
</div>
<hr />
