{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow us on twitter!">
    <i class="fa fa-twitter"></i> Follow us
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow us
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/starkandwayne" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/starkandwayne" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/cloudfoundry-community" target="_blank">
    <i class="fa fa-github"></i>Cloud Foundry Community
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  The Team
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/drnic" class="inline" target="_blank"><i class="fa fa-twitter"></i>drnic</a>
  <a href="https://github.com/drnic" target="_blank"><i class="fa fa-github"></i>drnic</a>
</li>

  rkoster
wayneeseguin	wayneeseguin
lnguyen11288	longnguyen11288
cfweibel	cweibel
jrbudnack	jrbudnack
byllc	byllc
metadave	metadave
